@model Performance
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medallion Theater</title>
    <link rel="stylesheet" href="./add.css">
</head>
<body>
    <div class="wrapper">
        <form action="" method="POST">
            @if (Model != null)
            {
                
            <h1>Performance Detalis</h1>
            <div class="form-group">
                <label for="fname">Performance Id</label>
                    <input type="text" class="fname" name="Id" readonly value="@Model.Id">
            </div> 
            <div class="form-group">
                <label for="fname">Production Number</label>
                <input type="text" class="fname" name="production.Id" value="@Model.production.Id">
            </div>
            <div class="form-group">
                <label for="fname"> DateTime</label>
                <input type="datetime-local" class="fname" name="dateTime" asp-for="@Model.dateTime">
            </div>
            <div class="form-group">
                <label for="fname">Type</label>
                <input type="text" class="fname" name="Type" value="@Model.Type">
            </div>

            <div class="actions">
                    <a value="Delete" href="@Url.Action("Delete","Performance",new{id = Model.Id})" class="btn btn-danger">Delete</a>
                    
                <input type="submit" value="Update" class="btn primary">
            </div>
            }
        </form>
    </div>
</body>
</html>